client/.DS_Store
client/node_modules
/dist


# local env files
client/.env.local
client/.env.*.local

# Log files
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/.vercel

# Editor directories and files
client/.idea
client/.vscode
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?

# Backend
server/node_modules
server/.env
server/.vercel

.vscode
.vercel
