@use './helpers/reset' as *;
@use './helpers/mixins' as *;

.admin-page {
  @apply pr-4 z-20;

  @include breakpoint("md") {
    @apply p-0;
  }

  header {
    @apply mt-4;
  }

  // CONTAINER
  .link-container-style {
    @apply relative grid gap-4;

    // CONTENT
    .link-content-style {
      @apply bg-white space-y-2 p-4 rounded-xl border-border border shadow-sm w-full;

      // CUSTOM CHECKBOX
      .checkbox-style {
        label {
          @apply relative block w-10 h-5 rounded-full bg-gray-200 shadow;

          &:before {
            @apply content-[''] w-5 h-5 rounded-full cursor-pointer top-0 left-0 absolute transition-[left] duration-300 ease-out bg-white border-gray-200 border-2;
          }
        }

        input:checked~label {
          @apply bg-purple-500;
        }

        input:checked~label::before {
          @apply left-5 border-purple-500;
        }

        input:disabled~ :is(label::before, label) {
          @apply cursor-no-drop bg-opacity-50;
        }
      }
    }
  }
}

// AUTH PAGES
.auth-page {
  @apply grid min-h-screen;
  grid-template-columns: 70% 30%;

  h1 {
    font-size: clamp(32px, 3vw, 50px);
  }

  .auth-form {
    @apply grid gap-4 mx-auto w-[600px] max-w-full;

    .auth-input {
      @apply h-[55px] relative;

      label {
        @apply absolute left-4 top-1/2 -translate-y-1/2 font-semibold text-border duration-150 ease-in-out cursor-text select-none;
      }

      input {
        @apply w-full h-full px-4 border-border border rounded pt-3;
      }

      input:focus+label,
      input:not(:placeholder-shown)+label {
        @apply top-[8px] translate-y-0 text-[12px];
      }

      input::placeholder {
        @apply text-transparent;
      }

      svg {
        @apply absolute right-4 top-1/2 -translate-y-1/2 cursor-pointer;
      }
    }
  }

  @include breakpoint("md") {
    @apply block;

    .bg-img {
      @apply hidden;
    }
  }
}